/*
	Project for Practicum
	Developed by MMR1998
	Season- Summer-2020
*/
body{
	margin-top: 100px;
}
#wrapper{
	padding-left: 0px;
}
#page-wrapper{
	width: 100%;
	padding: 0;
	background-color: #f9f9f9;
}
@media(min-width:768px){
	body{
		margin-top: 50px;
	}
	#wrapper{
		padding-left: 255px;
	}
	#page-wrapper{
		padding: 10px;
	}
}
.top-nav{
	
}
.top-nav>li{
	float: left;
	display: inline-block;
}
.top-nav>li>a{
	color: #999999;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.top-nav>li>a:hover, .top-nav>li>a:focus{
	color: #000000;
}
@media(min-width:768px){
	.side-nav{
		position: fixed;
		top: 51px;
		bottom: 0;
		width: 255px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #222222;
		padding-bottom: 40px;
		border-radius: 0;
	}
	.side-nav>li>a{
		width: 255px;
	}
	.side-nav>li>a:hover. .side-nav>li>a:focus{
		outline: none;
		background-color: #000000 !important;
	}
}
.side-nav>li>ul{
	padding: 0;
}
.side-nav>li>ul>li>a{
	padding: 10px 15px 10px 30px;
	text-decoration: none;
	color: #999999;
	display: block;
}
.side-nav>li>ul>li>a:hover{
	color: #ffffff;
}

/* custom color for dashboard panel */
.huge{
	font-size: 40px;
	line-height: normal;
}
.panel-green{
	border-color: #5cd85c;
}
.panel-green>.panel-heading{
	color: #ffffff;
	background-color: #5cd85c;
}
.panel-green>a{
	color: #5cd85c ;
}
.panel-green>a:hover{
	color: #3d8c3d ;
}
.panel-orange{
	border-color: #f0ad4c;
}
.panel-orange>.panel-heading{
	color: #ffffff;
	background-color: #f0ad4c;
}
.panel-orange>a{
	color: #f0ad4c ;
}
.panel-orange>a:hover{
	color: #ba8539 ;
}
.panel-red{
	border-color: #d9534f;
}
.panel-red>.panel-heading{
	color: #ffffff;
	background-color: #d9534f;
}
.panel-red>a{
	color: #d9534f ;
}
.panel-red>a:hover{
	color: #8d4341 ;
}

/* admin profile in dashboard */
.panel.body{
	border-radius: 5px;
}
.rounded{
	border-radius: 10px;
}
hr.dotted{
	border-bottom: 1px #dddddd dotted;
	height: 1px;
	margin: 10px 0 10px 0;
}
.thumb-info .thumb-info-title{
	background: rgb(36 27 28 / 55%);
	top: 35%;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	left: 15%;
	letter-spacing: -1px;
	padding: 9px 11px 9px;
	position: absolute;
	text-transform: uppercase;
	z-index: 1;
}
.thumb-info .thumb-info-inner{
	display: block;
}
.thumb-info .thumb-info-type{
	background: #8088cc;
	display: inline-block;
	border-radius: 2px;
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	margin: 8px -2px -15px -2px;
	padding: 2px 9px;
	text-transform: none;
}
.widget-content-expanded{
	font-size: 15px;
}
.widget-content-expanded span{
	font-weight: 600;
}
.widget-content-expanded i{
	color: #0888cc;
	margin-right: 5px;
}
td a.btn {
    margin: 3% 0;
    width: 100%;
}
.table th {
    text-align: center;
}
.table td {
    font-weight: normal;
    font-family: cambria;
    font-size: 15px;
}
.table .btn.custom-o.enabled {
    background: #0bbd5b;
    border: #0bbd5b;
}
.table .btn.custom-o.enabled:hover {
    background: #184871;
    border: #184871;
}